:root {
  color-scheme: dark light;
  --background-color: #ffffff;
  --foreground-color: #000000;

  --font-family: "Nunito", Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #121212;
    --foreground-color: #ffffff;
  }
}

* {
  font-family: var(--font-family);
}

html {
  height: 100%;
  background-color: var(--background-color);
  color: var(--foreground-color);
}

body {
  height: 100%;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 2fr 1fr;
}

header {
  grid-column: 1 / -1;
  display: grid;
  grid-template: 24px / 1fr 24px;
  padding: 16px;
  place-items: center;
}

header h1 {
  margin: 0;
  justify-self: start;
}

main {
  display: contents;
}

.user-container,
.other-container {
  display: grid;
  align-content: start;
  padding: 20px;
  gap: 10px;
  overflow-y: auto;
}

.user-header {
  grid-column: 1 / -1;
}

.other-header {
  grid-column: 1 / -1;
}

.other-card {
  display: grid;
}

header {
  background-color: #993407;
  color: white;
}

.product-form {
  max-width: 600px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
}

.product-form.hidden {
  display: none;
}

.product-form textarea {
  resize: vertical;
}
