:root {
  --background-color: #ffffff;
  --foreground-color: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #121212;
    --foreground-color: #ffffff;
  }
}

html {
  background-color: var(--background-color);
  color: var(--foreground-color);
}

body {
  margin: 0;
}

main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 10px;
  padding: 10px;
}

.sales-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.sales-header {
  grid-column: 1 / -1;
}

.purchase-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.purchase-header {
  grid-column: 1 / -1;
}

.purchase-card {
  display: grid;
}

header {
  background-color: orangered;
  color: white;
}
